body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f9;
}

h1 {
    text-align: center;
    color: #333;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

label {
    font-size: 16px;
    margin-bottom: 8px;
    display: block;
}

input[type="text"] {
    width: 95%;
    padding: 10px;
    margin: 10px 0 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

#mentes {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin: 5px;
}

#betoltbutt {
    width: 100%;
    padding: 10px;
    background-color: #db9719;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin: 5px;
}

button:hover {
    background-color: #45a049;
}

.message {
    text-align: center;
    font-size: 16px;
    color: #333;
}

/* CSS a Lejárat és CVV mezők elrendezéséhez */
.expiry-cvv {
    display: flex;
    justify-content: space-between;
}

.expiry-cvv div {
    flex-basis: 48%;
}


